@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

nav{
    font-family: 'Roboto', sans-serif;
    border:2px solid black;
}
nav a{
    font-size:15px;

}